<h1> Adopt-A-Dog Application </h1>

<br></br>

<p> Welcome to the Adopt-A-Dog Application! This application helps connect animal shelters and dogs with potential dog owners. </p>

<p> Create a user account to browse dogs who are in need of a loving home. Register as an owner if you would like to adopt a dog. </p>

<br></br>

<%= "Need to register?" %> <%= link_to 'Sign Up', signup_path %>
<br></br>
<%= "Already have an account?" %> <%= link_to 'Log In', login_path %>
<br></br>
<%= "Log in with Github." %> <%= link_to 'Github Sign Up/Log In', "https://github.com/login/oauth/authorize?scope=user:email&client_id=#{@github_client_id}" %>
<br></br>
