<h1> Dog Information </h1>

<p><%= @dog.name %></p>
<p>Age: <%= @dog.age %></p>
<p>Breed: <%= @dog.breed %></p>
<p>Traits/Unique Characteristics: <%= @dog.traits %></p>
<p>Weight: <%= @dog.weight %></p>
