<h1> User Information </h1>

<p><%= @user.name %></p>
<p>Admin: <%= @user.admin %></p>

<% if @user.has_dog? %>
  <p>User Adoptions:</p>
  <%= @user.dog.name %> - <%= link_to "Show #{@user.dog.name}", dog_path(@user.dog) %>
<% end %>

<br></br>
<br></br>

<% if @user.owner && @user.owner.adoption %>
  <%= link_to 'View Adoption', adoption_path(id: @user.owner.adoption.id) %>
<% end %>

<br></br>

<%= link_to 'View Dogs', dogs_path %>
