<h1> Owner Information </h1>

<p><%= @owner.name %></p>
<p>Phone Number: <%= @owner.phone_number %></p>
<p>Email Address: <%= @owner.email_address %></p>
<p>Physical Address: <%= @owner.physical_address %></p>

<br />

<%= link_to "View Dogs", dogs_path %>
