<h1> Dog Information </h1>

<p><%= @dog.name %></p>
<p>Age: <%= @dog.age %></p>
<p>Breed: <%= @dog.breed %></p>
<p>Traits/Unique Characteristics: <%= @dog.traits %></p>
<p>Weight: <%= @dog.weight %></p>
<p>Adopted Status: <%= @dog.adopted ? "Adopted" : "Available for adoption" %></p>

<p><%= link_to "Description", id="detailed-description" %></p>

<% if @dog.name == "Max" %>
  <%= image_tag("dogs/max-picture.jpg") %>
<% end %>

<% if @dog.name == "Mickey" %>
  <%= image_tag("dogs/mickey-picture.jpg") %>
<% end %>

<% if @dog.name == "Bella" %>
  <%= image_tag("dogs/bella-picture.jpg") %>
<% end %>

<% if @dog.name == "Sophie" %>
  <%= image_tag("dogs/sophie-picture.jpg") %>
<% end %>

<% if @dog.name == "Duke" %>
  <%= image_tag("dogs/duke-picture.jpg") %>
<% end %>

<br></br>

<% if !@dog.adopted %>
  <%= link_to 'Adopt Dog', adoptions_path(dog: @dog, owner: current_user.owner), method: :post %>
<% end %>

<% if current_user.admin %>
  <%= link_to 'Edit Dog', edit_dog_path(@dog), data: { confirm: 'Are you sure?' } %>
<% end %>

<!-- <% if current_user.admin %>
  <%= link_to 'Delete Dog', dog_path(@dog), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %> -->
